@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

.{
    padding: 0;
    margin: 0;
}

body{
    background-color: #000000;
    color: #fff;
}

#nav-bar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: #404040 1px solid;
    margin: 10px;
}

#logo{
    width: 120px;
    height: 68px;
}

ul{
    list-style-type: none;
    padding: 0;
}   

li{
    display: inline;
    margin: 15px;
    font-family: 'poppins', sans serif;
    font-weight: 300;
    font-size: 15px;
}

#btnNavbar{
    background-color: #4F42B9;
    border-radius: 15px;
    width: 220px;
    height: 55px;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    color: #fff;
}

#title{
    font-family: 'sora', sans serif;
    font-weight: 300;
    font-size: 40pt;
}

#description{
    font-family: 'sora', sans serif;
    font-weight: 300;
    font-size: 12px;
    color: #686868;
}


#txtPrincipal{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
    padding-left: 40px;
    width: 40%;
    height: 100%;
    background-color: #fd1212;
}

#btnSection{
    width: 180px;
    height: 35px;
    background-color: #4F42B9;
    border-radius: 8px;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    color: #fff;
}